:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgd-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--bgd-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent,
.link.main,
.link.portfolio {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.item {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.item:hover,
.item:focus {
  color: var(--accent-color);
}

/* Главная страница "Студия". Первая секция с баннером "Эффективные решения" */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid blue;
}

.banner-name {
  color: var(--bgd-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.banner {
  background-color: #2f303a;
}

.ban-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.ban-button:hover,
.ban-button:focus {
  background-color: #188ce8;
}

/* 2 секция "Наши преимущества"*/
.head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.head-list {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* 3 секция "Чем мы занимаемся" */
.do,
.comands {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* 4 секция "Наша команда"*/
.name,
.job {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.job {
  color: var(--secondary-text-color);
  font-weight: 400;
}

.comands-blok {
  background-color: #f5f4fa;
}

/* Начало стилизации страницы Портфолио (main) */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.list {
  color: var(--primary-text-color);
  text-decoration: none;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.button-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
}
/* Конец стилизации main Портфолио */

/* Footer */
.footer {
  background-color: #2f303a;
  color: var(--bgd-text-color);
}

.footer .logo {
  color: var(--bgd-text-color);
}

.address,
.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer .item {
  color: rgba(255, 255, 255, 0.6);
}

.footer .item:hover,
.footer .item:focus {
  color: var(--accent-color);
}
