:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgd-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--bgd-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

img {
  display: block;
}

/* ШАПКА-ВЕРХ С ЛОГОТИПОМ */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid blue;
}

.cap {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  margin-left: auto;
}

/* .list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts .list-item + .list-item {
  margin-left: 50px;
} */

.logo {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent,
.link.main {
  color: var(--accent-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.link.item {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* СТУДИЯ (MAIN) */
.banner-name {
  margin-top: 0;

  color: var(--bgd-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.banner {
  background-color: #2f303a;
  text-align: center;
}

.ban-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.ban-button:hover,
.ban-button:focus {
  background-color: #188ce8;
}

/* НАШИ ПРЕИМУЩЕСТВА */
.head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.head-list {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.do,
.comands {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* НАША КОМАНДА */
.name,
.job {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.job {
  color: var(--secondary-text-color);
  font-weight: 400;
}

.comands-blok {
  background-color: #f5f4fa;
}

/* ПОРТФОЛИО (MAIN) */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.button-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
}

/* ФУТЕР */
.footer {
  background-color: #2f303a;
  color: var(--bgd-text-color);
}

.footer .logo {
  color: var(--bgd-text-color);
}

.address,
.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer .bottom {
  color: rgba(255, 255, 255, 0.6);
}

.footer .item:hover,
.footer .item:focus {
  color: var(--accent-color);
}
